.date {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 0.6rem;
    padding: 0.5rem 1rem;
    margin-right: 0.8rem;
    &__text {
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
    }
}