.dropdown {
  width: 250px;
  @include border(1px, $borderRadius:10px);
  padding:8px 16px;
  margin-top: 15px;
  
  &__button {
    cursor: pointer;
    display: flex;
    justify-content:space-between;
    align-items: center;
  }

  &__menu {
    display: none;
    flex-direction: column;
    margin-top: 15px;
    &.open {
      display: flex;
    }
  }

  &__item {
    margin-bottom: 5px;
    color: $textColorBrighter;
    & , & * {
      cursor: pointer;
    }
    label {
      margin-left: 10px;
      text-transform: capitalize;
    }
    &:first-child {
      margin-bottom: 15px;
    }
    &:hover label, &.active {
      color: $textColor;
    }
  }
}
