.form {
  padding-bottom: 4rem;
  color: $tertiary;
  & label {
    display: inline-block;
   margin-bottom: 10px;
  }
  & input[type=text], textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid $tertiary;
    border-radius: 5px;
    margin-bottom: 2rem;
    color: $tertiary;
    &::placeholder {
      color: $tertiary-lighter;
    }
  }
  &__time {
    margin-bottom: 2rem;
    > div {
      width: 200px;
    margin-right: 50px;
    } 
  }

  select {
    display: block;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  button {
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1rem;
  }
}