.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

  &__card {
    position: relative;
    left: 0;
    top: 0;
    background-color: $secondary;
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    @include sm {
      width: 80%;
    }
    @include md {
      height: 60vh;
    }
    @include lg {
      width: 60%;
    }
  }
  &__img-wrapper {
    width: 100%;
    height: 200px;
    @include md {
      width: 49.99%;
      height: 100%;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $tertiary;
    left: 10px;
    top: 10px;
    img {
      width: 20px;
    }
  }
  &__body {
    position: relative;
    width: 100%;
    height: 75%;
    padding: 0px 20px 1rem;
    @include md {
      width: 49.99%;
      height: 100%;
    }
    p {
      width: 100%;
      max-height: calc(100% - 100px);
      @include md {
        margin-top: 40px;
      }
    }
  }

  &__header {
    @include md {
      position: absolute;
      width: 100%;
      padding: 0 20px 10px;
      bottom: 0;
      left: 0;

    }
  }
  &__close {
    position: absolute;
    display: flex;
    right: 10px;
    top: 10px;
    width: 35px;
    height: 35px;
    background-color: $tertiary;
    border:1px solid $tertiary;
    border-radius: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__confirmation-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80%;
    margin: 20px;
    background-color: $primary;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.5rem;
    > div {
      margin: 20px 0;
      text-align: center;
    }

    @include sm {
      width: 550px;
      height: 400px;
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
}