.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $base-padding 0;
  > div {
    width: 33.333%;
    &:last-child {
      text-align: right;
    }
  }
  &__logo {
    width: 31px;
    height: 30px;
    &-pilar {
      width: 7px; 
      height: 100%; 
      background-color: white;
      margin-right: 3px;
      &--admin {
        background-color: $tertiary;
      }
    }
    &-circel {
      width: 8px; 
      height: 8px; 
      background-color: #7bcef7; 
      margin-right: 3px;
      border-radius: 10px;
    }
  }
  &__title {
    font-size: $font-size-lg;
    text-align: center;
    padding: 12px 0;
  }
}

@each $key, $val in $colors {
  .navbar-#{$key} {
    @extend .navbar;
    background-color: $val;
  }
}
